NET "PRI_OSC" LOC = A8;
NET "SEC_OSC" LOC = R9;
NET "LED[7]"  LOC = R16;
NET "LED[6]"  LOC = P14;
NET "LED[5]"  LOC = M13;
NET "LED[4]"  LOC = N14;
NET "LED[3]"  LOC = L12;
NET "LED[2]"  LOC = M14;
NET "LED[1]"  LOC = L13;
NET "LED[0]"  LOC = L14;
NET "BTN[3]"  LOC = K12;
NET "BTN[2]"  LOC = K13;
NET "BTN[1]"  LOC = K14;
NET "BTN[0]"  LOC = J13;
NET "SW[7]"   LOC = N16;
NET "SW[6]"   LOC = M15;
NET "SW[5]"   LOC = M16;
NET "SW[4]"   LOC = L15;
NET "SW[3]"   LOC = K15;
NET "SW[2]"   LOC = K16;
NET "SW[1]"   LOC = J16;
NET "SW[0]"   LOC = N15;
NET "AN[3]"   LOC = F12;
NET "AN[2]"   LOC = G13;
NET "AN[1]"   LOC = G12;
NET "AN[0]"   LOC = G14;
NET "CA"      LOC = F13;
NET "CB"      LOC = E13;
NET "CC"      LOC = G15;
NET "CD"      LOC = H13;
NET "CE"      LOC = J14;
NET "CF"      LOC = E14;
NET "CG"      LOC = G16;
NET "DP"      LOC = H14;
NET "JA[3]"   LOC = R12;
NET "JA[2]"   LOC = T13;
NET "JA[1]"   LOC = R13;
NET "JA[0]"   LOC = T14;
NET "JB[3]"   LOC = T10;
NET "JB[2]"   LOC = P8;
NET "JB[1]"   LOC = R11;
NET "JB[0]"   LOC = T12;
NET "JC[3]"   LOC = A7;
NET "JC[2]"   LOC = A5;
NET "JC[1]"   LOC = P9;
NET "JC[0]"   LOC = D5;
NET "JD[3]"   LOC = D12;
NET "JD[2]"   LOC = C10;
NET "JD[1]"   LOC = A12;
NET "JD[0]"   LOC = A9;